{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="nes-container with-title">
  <p class="title">Create Application</p>
  {% if "admin" in scopes or "appmanager" in scopes %}
  <p>Once you click <span class="nes-text is-primary">create</span>, you will be redirected to a page where you will see
    the <span class="nes-text is-error">public key</span> and <span class="nes-text is-error">client secret</span> for
    your service, <span class="nes-text is-error">once and only once</span>.</p>
  <form method="POST" action="{{base_url}}/apps/create">
    <div class="nes-field">
      <label for="name_field">Name</label>
      <input type="text" id="name_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required
        name="name" />
    </div>
    <div class="nes-field">
      <label for="domain_field">Domain</label>
      <input type="url" id="domain_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required
        name="domain" />
    </div>
    <div class="nes-field">
      <label for="redirect_field">Redirect</label>
      <input type="url" id="redirect_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required
        name="redirect" />
    </div>
    <p>Do you wish to enable API access (and associated key generation) for your application? If not, then only the
      typical 'login' flow will be available to users.</p>
    <div class="nes-field" style="margin-top:1em;margin-bottom:2em">
      <label>
        <input type="checkbox" class="nes-checkbox" name="api" checked />
        <span>Enable API Access</span>
      </label>
    </div>
    <button class="nes-btn is-success" type="submit" value="Create" />Create</button>
  </form>
  {% else %}
  <p>You must be an <span class="nes-text is-primary">admin</span> or <span
      class="nes-text is-primary">appmanager</span> to create applications.</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}