{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="nes-container with-title">
  <p class="title">Create Application</p>
  {% if "admin" in scopes or "appmanager" in scopes %}
  <p>Once you click <span class="nes-text is-primary">create</span>, you will be redirected to a page where you will see the <span class="nes-text is-error">public key</span> and <span class="nes-text is-error">client secret</span> for your service, <span class="nes-text is-error">once and only once</span>.</p>
  <form method="POST" action="{{base_url}}/apps/create">
    <div class="nes-field">
        <label for="domain_field">Domain</label>
        <input type="url" id="domain_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required name="domain" />
    </div>
    <div class="nes-field">
        <label for="redirect_field">Redirect</label>
        <input type="url" id="redirect_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required name="redirect" />
    </div>
    <button class="nes-btn is-success" type="submit" value="Create" / >Create</button>
  </form>
  {% else %}
  <p>You must be an <span class="nes-text is-primary">admin</span> or <span class="nes-text is-primary">appmanager</span> to create applications.</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}