{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="nes-container with-title">
  <p class="title">Create Application</p>
  {% if "admin" in scopes or "appmanager" in scopes %}
  <p>Once you click <span class="nes-text is-primary">create</span>, you will be redirected to a page where you will see the <span class="nes-text is-error">public key</span> for your service, <span class="nes-text is-error">once and only once</span>.</p>
  <form method="POST" action="/apps/create">
    <div class="nes-field">
        <label for="domain_field">Domain</label>
        <input type="url" id="domain_field" class="nes-input" placeholder="..." style="margin-bottom: 1em" required name="domain" />
    </div>
    <div class="nes-field">
        <label for="access_token_field">Access Token Name</label>
        <input type="text" id="access_token_field" class="nes-input" placeholder="access_token" value="access_token" style="margin-bottom: 1em" required name="access_token_name" />
    </div>
    <div class="nes-field">
        <label for="refresh_token_field">Refresh Token Name</label>
        <input type="text" id="refresh_token_field" class="nes-input" placeholder="refresh_token" value="refresh_token" style="margin-bottom: 1em" required name="refresh_token_name" />
    </div>
    <button class="nes-btn is-success" type="submit" value="Create" / >Create</button>
  </form>
  {% else %}
  <p>You must be an <span class="nes-text is-primary">admin</span> or <span class="nes-text is-primary">appmanager</span> to create applications.</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}