{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
{% if public_key %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">New Credentials</p>
    <p>Here is your new public key and client secret <span class="nes-text is-error">which will only be shown once and
        must be used immediately with your application</span>.</p>
    <div class="nes-field" style="margin-bottom:1em">
      <label for="key-field">Public Key</label>
      <textarea id="key-field" class="nes-input" readonly rows="4">{{public_key}}</textarea>
    </div>
    <div class="nes-field" style="margin-bottom:1em">
      <label for="key-pair-type-field">Client Secret</label>
      <input type="text" class="nes-input" readonly value='{{client_secret}}' />
    </div>
    <div class="nes-field" style="margin-bottom:1em">
      <label for="key-pair-type-field">Key Pair Type</label>
      <input type="text" class="nes-input" readonly value='{{key_pair_type}}' />
    </div>
    <div class="nes-field" style="margin-bottom:1em">
      <label for="key-pair-type-field">App ID</label>
      <input type="text" class="nes-input" readonly value='{{app.app_id}}' />
    </div>
  </div>
</section>
{% endif %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">App Information</p>
    <h2>{{app.app_name}}</h2>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">App ID</span> {{app.app_id}}</li>
      <li><span class="nes-text is-primary">Created by</span> {{app.created_by_user_name}}</li>
      <li><span class="nes-text is-primary">Created at</span> {{app.created_at}}</li>
      <li><span class="nes-text is-primary">Domain</span> {{app.domain}}</li>
      <li><span class="nes-text is-primary">API Access?</span> {{app.api_access}}</li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Active Users</p>
    {% if users %}
    {% for user in users %}
    <section class="section">
      <div class="nes-container with-title display:flex">
        <p class="title">{% if "admin" in scopes %}<a href="{{base_url}}/users/{{user.user_id}}">{{ user.user_name
            }}</a>{% else %}{{ user.user_name }}{% endif %}</p>
        <div style="display:flex;align-items:flex-end">
          <ul class="nes-list is-disc" style="margin-right:auto;margin-bottom:0">
            <li><span class="nes-text is-primary">Key ID</span> {{user.refresh_key_id}}</li>
            <li><span class="nes-text is-primary">Created at</span> {{user.first_authenticated}}</li>
            <li><span class="nes-text is-primary">Last Used</span> {{user.last_authenticated}}</li>
            <li><span class="nes-text is-primary">Expires</span> {{user.login_expires}}</li>
          </ul>
          <div style="display:flex;flex-direction:column;margin-left:auto;justify-content:space-between">
            {% if user.api_key %}
            <div class="nes-badge" style="flex-grow:0;margin-left:auto">
              <span class="is-success">API</span>
            </div>
            {% else %}
            <div class="nes-badge" style="flex-grow:0;margin-left:auto">
              <span class="is-warning">Login</span>
            </div>
            {%endif %}
            {% if "admin" in scopes %}
            <button class="nes-btn is-error" style="flex-grow:0"
              onclick="location.href='{{base_url}}/apps/{{app.app_id}}/revoke/{{user.refresh_key_id}}'">Revoke
              Key</button>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
  </div>
</section>
{% else %}
No active users.
{% endif %}
</div>
</section>
{% endif %}
{% endblock %}