{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for group in groups %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title"><a href="{{base_url}}/groups/{{group.group_id}}">{{group.group_name}}</a></p>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">Users</span> {{ len(group.members) }}</li>
      <li><span class="nes-text is-primary">Created by</span> {{ group.created_by.user_name }}</li>
      <li><span class="nes-text is-primary">Created at</span> {{ group.created_at }}</li>
    </ul>
  </div>
</section>
{% endfor %}
{% endif %}
{%endblock%}