{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for group in groups %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title"><a href="{{base_url}}/groups/{{group.group_id}}">{{group.group_name}}</a></p>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">Users</span> {{ len(group.members) }}</li>
      <li><span class="nes-text is-primary">Created by</span> {{ group.created_by.user_name }}</li>
      <li><span class="nes-text is-primary">Created at</span> {{ group.created_at }}</li>
    </ul>
  </div>
</section>
{% endfor %}
{% endif %}
{% endblock %}
{% block extrafooter %}
{% if "admin" in scopes %}
<section class="buttonholder" style="margin:1em">
  <button type="button" class="nes-btn is-success"
    onclick="document.getElementById('create-group-dialog').showModal();">
    +
  </button>
  <dialog class="nes-dialog is-rounded" id="create-group-dialog">
    <form method="POST" action="{{base_url}}/groups/create">
      <h3 class="title">Create a new Group</h3>
      <div class="nes-field">
        <label for="group-name-field">Group name</label>
        <input type="text" id="group-name-field" name="group_name" class="nes-input is-success" placeholder="..."
          style="margin-bottom:1em" required />
      </div>
      <div class="nes-field">
        <label for="grants-field">Grants</label>
        <input type="text" id="grants-field" name="grants" class="nes-input is-success" placeholder="..."
          style="margin-bottom:1em" required />
      </div>
      <button type="button" class="nes-btn"
        onclick="document.getElementById('create-group-dialog').close();">Cancel</button>
      <input class="nes-btn is-error" type="submit" value="Confirm" />
    </form>
  </dialog>
</section>
{% endif %}
{% endblock %}