<html>
<head>
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
{% if user.is_authenticated %}
<div class="nes-container">
<h1>Welcome {{user.full_name}}</h1>
<h3>{{user.display_name}}</h3>
<div class="nes-container with-title">
<p class="title">Data</p>
{% if "simonsobs" in scopes %}
<p>You have access to proprietary data, here it is:</p>
<div class="nes-container with-title">
<p class="title">Super Proprietary Data</p>
<p>Choose your fighter:</p>
<div style="display:flex; justify-content:center; align-items:center">
<i class="nes-bulbasaur" style="margin:3em"></i>
<i class="nes-charmander" style="margin:3em"></i>
<i class="nes-squirtle" style="margin:3em"></i>
</div>
</div>
{% else %}
<p>Unfortunately, you do not have access to proprietary data.</p>
{% endif %}
{% endif %}
<div class="nes-container with-title is-dark">
<p class="title">Access Control</p>
{% if user.is_authenticated %}
<a href="{{logout}}"><button type="button" class="nes-btn is-error">Logout</button></a>
{% else %}
<a href="{{login}}"><button type="button" class="nes-btn is-primary">Login</button></a>
{% endif %}
</div>
</body>