{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for app in apps %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">{{app.app.app_name}}</p>
    <div style="display:flex;align-items:flex-start">
      <p>API hosted at <a href="{{app.app.domain}}">{{app.app.domain}}</a></p>
      <button class="nes-btn is-success" style="flex-grow:0;margin-left:auto; margin-bottom:1em"
        onclick="location.href='{{base_url}}/keys/{{app.app.app_id}}'">Create Key</button>
    </div>
    {% if app.users %}
    {% for key in app.users %}
    <section>
      <div class="nes-container" style="display:flex;align-items:flex-end">
        <ul class="nes-list is-disc" style="margin-right:auto;margin-bottom:0">
          <li><span class="nes-text is-primary">Key ID</span> {{key.refresh_key_id}}</li>
          <li><span class="nes-text is-primary">Created at</span> {{key.first_authenticated}}</li>
          <li><span class="nes-text is-primary">Last Used</span> {{key.last_authenticated}}</li>
          <li><span class="nes-text is-primary">Expires</span> {{key.login_expires}}</li>
        </ul>
        <div style="display:flex;flex-direction:column;margin-left:auto;justify-content:space-between">
          {% if key.api_key %}
          <div class="nes-badge" style="flex-grow:0;margin-left:auto">
            <span class="is-success">API</span>
          </div>
          {% else %}
          <div class="nes-badge" style="flex-grow:0;margin-left:auto">
            <span class="is-warning">Login</span>
          </div>
          {%endif %}
          <button class="nes-btn is-error" style="flex-grow:0"
            onclick="location.href='{{base_url}}/keys/revoke/{{key.refresh_key_id}}'">Revoke
            Key</button>
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}
  </div>
</section>
{% endfor %}
{% endif %}
{%endblock%}