{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">User Information</p>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">Username</span> {{other_user.user_name}}</li>
      <li><span class="nes-text is-primary">Full name</span> {{other_user.full_name}}</li>
      <li><span class="nes-text is-primary">Email</span> {{other_user.email}}</li>
      <li><span class="nes-text is-primary">Grants</span>
        {% if other_user.grants %}
        <ul class="nes-list is-circle">
          {% for grant in other_user.grants %}
          {% if grant %}
          <li>{{ grant }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      <li><span class="nes-text is-primary">Groups</span>
        {% if other_user.groups %}
        <ul class="nes-list is-circle">
          {% for group in other_user.groups %}
          <li>{{ group }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Active Apps</p>
    {% if other_user_logins %}
    {% for app in other_user_logins %}
    <section class="section">
      <div class="nes-container with-title">
        <p class="title"><a href="{{base_url}}/apps/{{app.app_id}}">{{ app.app_id }}</a></p>
        <ul class="nes-list is-disc">
          <li><span class="nes-text is-primary">Key ID</span> {{app.refresh_key_id}}</li>
          <li><span class="nes-text is-primary">Created at</span> {{app.first_authenticated}}</li>
          <li><span class="nes-text is-primary">Last Used</span> {{app.last_authenticated}}</li>
          <li><span class="nes-text is-primary">Expires</span> {{app.login_expires}}</li>
        </ul>
      </div>
    </section>
    {% endfor %}
    {% else %}
    No active logins.
    {% endif %}
  </div>
</section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">User Management</p>
    <div style="display: flex">
      <section class="buttonholder">
        <button type="button" class="nes-btn is-error"
          onclick="document.getElementById('delete-user-dialog').showModal();">
          Delete User
        </button>
        <dialog class="nes-dialog is-rounded" id="delete-user-dialog">
          <form method="dialog">
            <h3 class="title">Are you sure?</h3>
            <p>Proceeding will <span class="nes-text is-primary">(in an unrecoverable way)</span> delete the user <span
                class="nes-text is-error">{{other_user.user_name}}</span>.</p>
            <menu class="dialog-menu" style="padding-left:0">
              <button class="nes-btn">Cancel</button>
              <button class="nes-btn is-error"
                onclick="location.href='{{base_url}}/users/{{other_user.user_id}}/delete'">Confirm</button>
            </menu>
          </form>
        </dialog>
      </section>
      <section class="buttonholder">
        <button type="button" class="nes-btn is-success"
          onclick="document.getElementById('add-grant-dialog').showModal();">
          Add Grant
        </button>
        <dialog class="nes-dialog is-rounded" id="add-grant-dialog">
          <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/grant_add">
            <h3 class="title">Add Grant</h3>
            <p>Add any grant you wish to add to <span class="nes-text is-error">{{other_user.user_name}}</span>. <span
                class="nes-text is-warning">No whitespace is allowed in grant names</span>. They will have to refresh
              their access tokens (either by logging out and back in, manually requesting a refresh through their
              application, or waiting for the natural refresh cycle) for changes to take effect.</p>
            <div class="nes-field is-inline">
              <label for="add-grant-field">Grant:</label>
              <input type="text" id="add-grant-field" name="grant" class="nes-input is-success" placeholder="..."
                style="margin-bottom:1em" required />
            </div>
            <button type="button" class="nes-btn"
              onclick="document.getElementById('add-grant-dialog').close();">Cancel</button>
            <input class="nes-btn is-error" type="submit" value="Confirm" />
          </form>
        </dialog>
      </section>
      <section class="buttonholder">
        <button type="button" class="nes-btn is-warning"
          onclick="document.getElementById('remove-grant-dialog').showModal();">
          Remove Grant
        </button>
        <dialog class="nes-dialog is-rounded" id="remove-grant-dialog">
          <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/grant_remove">
            <h3 class="title">Remove Grant</h3>
            <p>Select the grant you wish to remove from <span class="nes-text is-error">{{other_user.user_name}}</span>.
              They will have to refresh their access tokens (either by logging out and back in, manually requesting a
              refresh through their application, or waiting for the natural refresh cycle) for changes to take effect.
            </p>
            <div style="padding:2em">
              {% for grant in other_user.grants %}
              {% if grant %}
              <label style="display:block">
                <input type="radio" class="nes-radio" name="grant" value="{{grant}}" required />
                <span>{{grant}}</span>
              </label>
              {% endif %}
              {% endfor %}
            </div>
            <button type="button" class="nes-btn"
              onclick="document.getElementById('remove-grant-dialog').close();">Cancel</button>
            <input class="nes-btn is-error" type="submit" value="Confirm" />
          </form>
        </dialog>
      </section>
    </div>
  </div>
  {% endif %}
  {% endblock %}