{% extends "core.html" %}
{% block content %}
{% if user.is_authenticated %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">User Information</p>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">User ID</span> {{other_user.user_id}}</li>
      <li><span class="nes-text is-primary">Username</span> {{other_user.user_name}}</li>
      <li><span class="nes-text is-primary">Full name</span> {{other_user.full_name}}</li>
      <li><span class="nes-text is-primary">Email</span> {{other_user.email}}</li>
      <li><span class="nes-text is-primary">Grants</span>
        {% if other_user.grants %}
        <ul class="nes-list is-circle">
          {% for grant in other_user.grants %}
          {% if grant %}
          <li>{{ grant }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      <li><span class="nes-text is-primary">Groups</span>
        {% if other_user.group_names %}
        <ul class="nes-list is-circle">
          {% for group_name, group_id in zip(other_user.group_names, other_user.group_ids) %}
          <li><a href="{{base_url}}/groups/{{group_id}}">{{ group_name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    </ul>
  </div>
</section>
{% if other_user.membership %}
<section class="section"></section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Membership Information</p>
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">Membership Details ID</span> {{other_user.membership.membership_details_id}}
      </li>
      <li><span class="nes-text is-primary">Status</span> {{other_user.membership.status}}</li>
      <li><span class="nes-text is-primary">Member since</span> {{other_user.membership.member_since}}</li>
      <li><span class="nes-text is-primary">Member until</span> {{other_user.membership.member_until}}</li>
      <li><span class="nes-text is-primary">First name</span> {{other_user.membership.first_name}}</li>
      <li><span class="nes-text is-primary">Last name</span> {{other_user.membership.last_name}}</li>
      <li><span class="nes-text is-primary ">Email</span> {{other_user.membership.email}}</li>
      <li><span class="nes-text is-primary">Confluence</span> {{other_user.membership.confluence}}</li>
      <li><span class="nes-text is-primary">Website</span> {{other_user.membership.website}}</li>
      <li><span class="nes-text is-primary">ORCID</span> {{other_user.membership.orcid}}</li>
    </ul>
  </div>
</section>
<section class="section"></section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Institution Information</p>
    <p>This is the primary institution that a member is affiliated with; users may only have one primary institution.
    </p>
    {% if other_user.institutions %}
    {% for institution in other_user.institutions | reverse %}
    <ul class="nes-list is-disc" {% if not institution.institutional_current_member %}style="filter: opacity(0.5);" {%
      endif %}>
      <li><span class="nes-text is-primary">Institution ID</span> {{institution.institution_id}}</li>
      <li><span class="nes-text is-primary">Institution Name</span> {{institution.institution_name}}</li>
      <li><span class="nes-text is-primary">Member since</span> {{institution.institutional_member_since}}</li>
      <li><span class="nes-text is-primary">Current member</span> {{institution.institutional_current_member}}</li>
      {% if institution.institutional_member_until %}
      <li><span class="nes-text is-primary">Member until</span> {{institution.institutional_member_until}}</li>
      {% endif %}
    </ul>
    {% endfor %}
    {% else %}
    No institutional memberships.
    {% endif %}
    {% if "admin" in scopes or "membership" in scopes %}
    <section class="buttonholder" style="display:flex;">
      <button type="button" class="nes-btn is-success" style="margin-left:auto;margin-right:0;"
        onclick="document.getElementById('change-membership-dialog').showModal();">
        {% if other_user.institutions %}Change{% else %}Add{% endif %} Membership
      </button>
      <dialog class="nes-dialog is-rounded" id="change-membership-dialog">
        <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/membership_change">
          <h3 class="title">{% if other_user.institutions %}Change{% else %}Add{% endif %} Membership</h3>
          <p>Change the primary institution for <span class="nes-text is-error">{{other_user.user_name}}</span>.</p>
          <div class="nes-field is-inline">
            <label for="institution-id">New institution ID:</label>
            <input type="text" id="institution-id" name="institution_id" class="nes-input is-success" placeholder="..."
              style="margin-bottom:1em" required />
          </div>
          <button type="button" class="nes-btn"
            onclick="document.getElementById('change-membership-dialog').close();">Cancel</button>
          <input class="nes-btn is-error" type="submit" value="Confirm" />
        </form>
      </dialog>
    </section>
    {% endif %}
  </div>
</section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Affiliation Information</p>
    <p>This section lists all institutional affiliations for the user; users may have multiple affiliations, and they
      appear in order for papers.</p>
    {% if other_user.affiliations %}
    {% for affiliation in other_user.affiliations %}
    <ul class="nes-list is-disc">
      <li><span class="nes-text is-primary">Institution ID</span> {{affiliation.institution_id}}</li>
      <li><span class="nes-text is-primary">Institution Name</span> {{affiliation.institution_name}}</li>
      <li><span class="nes-text is-primary">Unit Name</span> {{affiliation.unit_name}}</li>
      <li><span class="nes-text is-primary">Order</span> {{affiliation.ordering}}</li>
      <li><span class="nes-text is-primary">Afiliated since</span> {{affiliation.affiliated_since}}</li>
      <li><span class="nes-text is-primary">Currently affiliated</span> {{affiliation.currently_affiliated}}</li>
      {% if affiliation.affiliated_until %}
      <li><span class="nes-text is-primary">Affiliated until</span> {{affiliation.affiliated_until}}</li>
      {% endif %}
    </ul>
    {% endfor %}
    <p><span class="nes-text is-error">Your affiliation will appear as:</span></p>
    <p>{{other_user.membership.first_name}} {{other_user.membership.last_name}}<br>
      {% for affiliation in other_user.affiliations %}
      {% if affiliation.ordering %}
      {{ affiliation.ordering }}. {{affiliation.publication_text}}<br>
      {% endif %}
      {% endfor %}</p>
    {% else %}
    No institutional affiliations.
    {% endif %}
    {% if "admin" in scopes or "membership" in scopes %}
    <section class="buttonholder" style="display:flex;">
      <button type="button" class="nes-btn is-success" style="margin-left:auto;margin-right:0;"
        onclick="document.getElementById('add-affiliation-dialog').showModal();">
        Add Affiliation
      </button>
      <dialog class="nes-dialog is-rounded" id="add-affiliation-dialog">
        <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/affiliation_add">
          <h3 class="title">Add Affiliation</h3>
          <p>Add an affiliation to an institution for <span class="nes-text is-error">{{other_user.user_name}}</span>.
          </p>
          <div class="nes-field is-inline">
            <label for="institution-id">Institution ID:</label>
            <input type="text" id="institution-id" name="institution_id" class="nes-input is-success" placeholder="..."
              style="margin-bottom:1em" required />
          </div>
          <button type="button" class="nes-btn"
            onclick="document.getElementById('add-affiliation-dialog').close();">Cancel</button>
          <input class="nes-btn is-error" type="submit" value="Confirm" />
        </form>
      </dialog>
      <button type="button" class="nes-btn is-success" style="margin-left: 1em; margin-right:0;"
        onclick="document.getElementById('reorder-affiliation-dialog').showModal();">
        Reorder
      </button>
      <dialog class="nes-dialog is-rounded" id="reorder-affiliation-dialog">
        <form method="POST" action="/users/{{other_user.user_id}}/affiliation_reorder">
          <h3 class="title">Reorder Affiliations</h3>

          <p>
            Reorder affiliations for
            <span class="nes-text is-error">{{other_user.user_name}}</span>.
          </p>

          {% if other_user.affiliations %}
          <div id="sortable-affiliations">
            {% for aff in other_user.affiliations %}
            <div class="nes-container is-rounded affiliation-item"
              style="margin-bottom:1em;cursor:move;background-color:lightgray" draggable="true"
              data-id="{{ aff.institution_id }}">
              <p>{{ aff.institution_name }}</p>
              <p>{{ aff.unit_name }}</p>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <input type="hidden" name="ordered_ids" id="ordered_ids">

          <button type="submit" class="nes-btn is-primary">Save</button>
          <button type="button" class="nes-btn"
            onclick="document.getElementById('reorder-affiliation-dialog').close();">
            Cancel
          </button>
        </form>
      </dialog>
    </section>
    {% endif %}
  </div>
</section>
{% endif %}
<section class="section">
  <div class="nes-container with-title">
    <p class="title">Active Apps</p>
    {% if other_user_logins %}
    {% for app in other_user_logins %}
    <section class="section">
      <div class="nes-container with-title">
        <p class="title"><a href="{{base_url}}/apps/{{app.app_id}}">{{ app.app_name }}</a></p>
        <div style="display:flex">
          <ul class="nes-list is-disc">
            <li><span class="nes-text is-primary">Key ID</span> {{app.refresh_key_id}}</li>
            <li><span class="nes-text is-primary">Created at</span> {{app.first_authenticated}}</li>
            <li><span class="nes-text is-primary">Last Used</span> {{app.last_authenticated}}</li>
            <li><span class="nes-text is-primary">Expires</span> {{app.login_expires}}</li>
          </ul>
          {% if app.api_key %}
          <div class="nes-badge" style="flex-grow:0;margin-left:auto;margin-bottom:auto;">
            <span class="is-success">API</span>
          </div>
          {% else %}
          <div class="nes-badge" style="flex-grow:0;margin-left:auto;margin-bottom:auto;">
            <span class="is-warning">Login</span>
          </div>
          {%endif %}
        </div>
      </div>
    </section>
    {% endfor %}
    {% else %}
    No active logins.
    {% endif %}
  </div>
</section>
<section class="section">
  <div class="nes-container with-title">
    <p class="title">User Management</p>
    <div style="display: flex">
      <section class="buttonholder">
        <button type="button" class="nes-btn is-error"
          onclick="document.getElementById('delete-user-dialog').showModal();">
          Delete User
        </button>
        <dialog class="nes-dialog is-rounded" id="delete-user-dialog">
          <form method="dialog">
            <h3 class="title">Are you sure?</h3>
            <p>Proceeding will <span class="nes-text is-primary">(in an unrecoverable way)</span> delete the user <span
                class="nes-text is-error">{{other_user.user_name}}</span>.</p>
            <menu class="dialog-menu" style="padding-left:0">
              <button class="nes-btn">Cancel</button>
              <button class="nes-btn is-error"
                onclick="location.href='{{base_url}}/users/{{other_user.user_id}}/delete'">Confirm</button>
            </menu>
          </form>
        </dialog>
      </section>
      <section class="buttonholder">
        <button type="button" class="nes-btn is-success"
          onclick="document.getElementById('add-grant-dialog').showModal();">
          Add Grant
        </button>
        <dialog class="nes-dialog is-rounded" id="add-grant-dialog">
          <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/grant_add">
            <h3 class="title">Add Grant</h3>
            <p>Add any grant you wish to add to <span class="nes-text is-error">{{other_user.user_name}}</span>. <span
                class="nes-text is-warning">No whitespace is allowed in grant names</span>. They will have to refresh
              their access tokens (either by logging out and back in, manually requesting a refresh through their
              application, or waiting for the natural refresh cycle) for changes to take effect.</p>
            <div class="nes-field is-inline">
              <label for="add-grant-field">Grant:</label>
              <input type="text" id="add-grant-field" name="grant" class="nes-input is-success" placeholder="..."
                style="margin-bottom:1em" required />
            </div>
            <button type="button" class="nes-btn"
              onclick="document.getElementById('add-grant-dialog').close();">Cancel</button>
            <input class="nes-btn is-error" type="submit" value="Confirm" />
          </form>
        </dialog>
      </section>
      <section class="buttonholder">
        <button type="button" class="nes-btn is-warning"
          onclick="document.getElementById('remove-grant-dialog').showModal();">
          Remove Grant
        </button>
        <dialog class="nes-dialog is-rounded" id="remove-grant-dialog">
          <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/grant_remove">
            <h3 class="title">Remove Grant</h3>
            <p>Select the grant you wish to remove from <span class="nes-text is-error">{{other_user.user_name}}</span>.
              They will have to refresh their access tokens (either by logging out and back in, manually requesting a
              refresh through their application, or waiting for the natural refresh cycle) for changes to take effect.
            </p>
            <div style="padding:2em">
              {% for grant in other_user.grants %}
              {% if grant %}
              <label style="display:block">
                <input type="radio" class="nes-radio" name="grant" value="{{grant}}" required />
                <span>{{grant}}</span>
              </label>
              {% endif %}
              {% endfor %}
            </div>
            <button type="button" class="nes-btn"
              onclick="document.getElementById('remove-grant-dialog').close();">Cancel</button>
            <input class="nes-btn is-error" type="submit" value="Confirm" />
          </form>
        </dialog>
      </section>
      {% if not other_user.membership %}
      <section class="buttonholder">
        <button type="button" class="nes-btn is-success"
          onclick="document.getElementById('promote-user-dialog').showModal();">
          Promote to Member
        </button>
        <dialog class="nes-dialog is-rounded" id="promote-user-dialog">
          <form method="POST" action="{{base_url}}/users/{{other_user.user_id}}/promote">
            <h3 class="title">Promote</h3>
            <p>This form promotes users to members, conferring membership for them. It does not
              automatically provide access to downstream services.</p>
            <div class="nes-field is-inline">
              <label for="first-name-field">First name:</label>
              <input type="text" id="first-name-field" name="first_name" class="nes-input is-success"
                value="{{other_user.full_name.split(' ')[0]}}" style="margin-bottom:1em" required />
            </div>
            <div class="nes-field is-inline">
              <label for="last-name-field">Last name:</label>
              <input type="text" id="last-name-field" name="last_name" class="nes-input is-success"
                value="{{other_user.full_name.split(' ')[-1]}}" style="margin-bottom:1em" required />
            </div>
            <div class="nes-field is-inline">
              <label for="email-field">Email:</label>
              <input type="email" id="email-field" name="email" class="nes-input is-success"
                value="{{other_user.email}}" style="margin-bottom:1em" required />
            </div>
            <div class="nes-field is-inline">
              <label for="status-field">Status:</label>
              <input type="text" id="status-field" name="status" class="nes-input is-success" placeholder="e.g. junior"
                style="margin-bottom:1em" required />
            </div>
            <div class="nes-field is-inline">
              <label for="website-field">Website:</label>
              <input type="url" id="website-field" name="website" class="nes-input is-success"
                placeholder="https://simonsobservatory.org" style="margin-bottom:1em" />
            </div>
            <div class="nes-field is-inline">
              <label for="orcid-field">ORCID:</label>
              <input type="text" id="orcid-field" name="orcid" class="nes-input is-success"
                placeholder="0000-0000-0000-0000" style="margin-bottom:1em" />
            </div>
            <div class="nes-field is-inline">
              <label for="confluence-field">Confluence:</label>
              <input type="text" id="confluence-field" name="confluence" class="nes-input is-success"
                style="margin-bottom:1em" />
            </div>
            <button type="button" class="nes-btn"
              onclick="document.getElementById('promote-user-dialog').close();">Cancel</button>
            <input class="nes-btn is-error" type="submit" value="Confirm" />
          </form>
        </dialog>
      </section>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
{% block extrafooter %}
<script>
  const container = document.getElementById('sortable-affiliations');
  const hidden = document.getElementById('ordered_ids');

  let dragged = null;

  container.addEventListener('dragstart', (e) => {
    if (!e.target.classList.contains('affiliation-item')) return;
    dragged = e.target;
    e.target.classList.add('dragging');
  });

  container.addEventListener('dragend', (e) => {
    if (!e.target.classList.contains('affiliation-item')) return;
    e.target.classList.remove('dragging');
    updateOrder();
  });

  container.addEventListener('dragover', (e) => {
    e.preventDefault();

    const children = [...container.querySelectorAll('.affiliation-item:not(.dragging)')];
    const afterElement = children.find(child => {
      const rect = child.getBoundingClientRect();
      return e.clientY < rect.top + rect.height / 2;
    });

    children.forEach(c => c.classList.remove('drop-target'));

    if (afterElement) {
      afterElement.classList.add('drop-target');
      container.insertBefore(dragged, afterElement);
    } else {
      container.appendChild(dragged);
    }
  });

  container.addEventListener('dragleave', (e) => {
    if (!e.target.classList.contains('affiliation-item')) return;
    e.target.classList.remove('drop-target');
  });

  function updateOrder() {
    const ids = [...container.children].map(x => x.dataset.id);
    hidden.value = JSON.stringify(ids);
    console.log(hidden.value);
  }

  // Initialize the hidden input on load
  updateOrder();
</script>
{% endblock %}